<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Listado de empleados</span>
            <button class="btn btn-dark btn-lg float-right" [routerLink]="['/crear-empleado']" routerLinkActive="router-link-active">Agregar</button>
            <h5 style="margin-top: 30px;  text-align: center;" *ngIf="empleados.length == 0">No hay registros que mostrar</h5>
            <table *ngIf="empleados.length > 0" class="table table-striped table-hover mt-5">
                <thead class="thead-green">
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Número de empleado</th>
                        <th>Salario</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let empleado of empleados | paginate: { itemsPerPage: 5, currentPage: page }">
                        <td>{{ empleado.nombre | titlecase}}</td>
                        <td>{{ empleado.apellido | titlecase }}</td>
                        <td>No. {{ empleado.documento }}</td>
                        <td>{{ empleado.salario | currency }}</td>
                        <td><i class="fas fa-edit fa-lg text-info mr-2" [routerLink]="['/edit-empleado/', empleado.id]"></i>
                            <i (click)="eliminarEmpleado(empleado.id)" class="fas fa-trash-restore fa-lg text-danger"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls *ngIf="empleados.length > 0" (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>

        </div>
    </div>
</div>