<div class="container">
    <div class="row">
        <!--offset permite desplazar los elementos -->
        <div class="col-lg-6 offset-lg-3 mt-4">
            <div class="card text-center">
                <div class="card-body">
                    <h3>{{ titulo }}
                        <div *ngIf="loading" class="spinner-grow float-right" style="width: 3rem; height: 3rem;" role="status">
                            <span class="sr-only"></span>
                        </div>
                    </h3>
                    <span *ngIf="submitted && createEmpleado.invalid" class="badge badge-danger">TODOS LOS CAMPOS SON OBLIGATORIOS</span>
                    <!--Conectando el formulario con create-empeadoscomponente.ts -->
                    <form class="mt-4" [formGroup]="createEmpleado" (ngSubmit)="agregarEmpleado()">
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control form-control-lg" formControlName="nombre" placeholder="Nombre">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control form-control-lg" formControlName="apellido" placeholder="Apellido">
                            </div>
                        </div>
                        <input type="number" class="form-control form-control-lg mt-4" formControlName="documento" placeholder="No.Indentificación">
                        <input type="number" class="form-control form-control-lg mt-4" formControlName="salario" placeholder="Salario">
                        <div class="mt-3">
                            <!--la ruta pasada en routerLink es la declarada en el archivo app-routing.module.ts-->
                            <button type="text" class="btn btn-danger btn-lg mr-4" [routerLink]="['/lista-empleados']" routerLinkActive="router-link-active">Cancelar</button>
                            <button type="submit" class="btn btn-success btn-lg">{{ aceptar }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>