/* You can add global styles to this file, and also import other style files */

@import '~ngx-toastr/toastr';
body {
    /*Instrucción que permite mostrar nuestra imagen con opacidad*/
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./assets/red.png');
    /*Indicando la ubicación del archivo que funciona como fondo*/
    /*background-image: url('./assets/fondo.jpg');*/
    /*Especifica cómo se distribuyen en mosaico las imágenes de fondo una vez que se han dimensionado y colocado.*/
    background-repeat: no-repeat;
    /*Permite colocar la imagen al centro*/
    background-position: center;
    /*Especifica el tamaño de las imágenes de fondo.*/
    background-size: cover;
    /*Especifica la altura del área de contenido, el área de relleno o el área del borde (según el 'tamaño de la caja') de ciertas cajas.*/
    height: 100vh;
}